@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

:root{
    --yellow:#fffe53;
    --yellow-light:#FFFF87;
    --yellow-dark:#C9CB10;
    --darkblue:#1C2026;
    --grayblue:#43474E;
    --lightgray:#ccc;
    --darkbluehero:rgba(28, 32, 38, 0.9);
    --graybluehero:rgba(183, 192, 209, 0.9);
}   

 body{
  height:100%;
  width:100%;
  margin:0;
  background: linear-gradient(var(--darkbluehero), var(--darkbluehero)), url('https://images.unsplash.com/photo-1458560871784-56d23406c091?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1374&q=80') center center / cover no-repeat;
  background-attachment: fixed;
  color: white;
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
}




/* MENU STYLES */
.menu-wrap {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
  }
  
  .menu-wrap .toggler {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    cursor: pointer;
    width: 50px;
    height: 50px;
    opacity: 0;
  }
  
  .menu-wrap .hamburger {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 30px;
    height: 20px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /* Hamburger Line */
  .menu-wrap .hamburger > div {
    position: relative;
    flex: none;
    width: 100%;
    height: 2px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
  }
  
  /* Hamburger Lines - Top & Bottom */
  .menu-wrap .hamburger > div::before,
  .menu-wrap .hamburger > div::after {
    content: '';
    position: absolute;
    z-index: 1;
    top: -10px;
    width: 100%;
    height: 2px;
    background: inherit;
  }
  
  /* Moves Line Down */
  .menu-wrap .hamburger > div::after {
    top: 10px;
  }
  
  /* Toggler Animation */
  .menu-wrap .toggler:checked + .hamburger > div {
    transform: rotate(135deg);
  }
  
  /* Turns Lines Into X */
  .menu-wrap .toggler:checked + .hamburger > div:before,
  .menu-wrap .toggler:checked + .hamburger > div:after {
    top: 0;
    transform: rotate(90deg);
  }
  
  /* Rotate On Hover When Checked */
  .menu-wrap .toggler:checked:hover + .hamburger > div {
    transform: rotate(225deg);
  }
  
  /* Show Menu */
  .menu-wrap .toggler:checked ~ .menu {
    visibility: visible;
  }
  
  .menu-wrap .toggler:checked ~ .menu > div {
    transform: scale(1);
    transition-duration: var(--menu-speed);
  }
  
  .menu-wrap .toggler:checked ~ .menu > div > div {
    opacity: 1;
    transition:  opacity 0.4s ease 0.4s;
  }
  
  .menu-wrap .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .menu-wrap .menu > div {
    background: var(--darkbluehero);
    backdrop-filter: blur(5px);
    width: 200vw;
    height: 200vw;
    display: flex;
    flex: none;
    align-items: center;
    justify-content: center;
    transform: opacity(0);
    transition: all 0.4s ease;
  }
  
  .menu-wrap .menu > div > div {
    text-align: center;
    max-width: 90vw;
    max-height: 100vh;
    opacity: 0;
    transition: opacity 0.4s ease;
  }
  
  .menu-wrap .menu > div > div > ul > li {
    list-style: none;
    color: #fff;
    font-size: 1.5rem;
    padding: 1rem;
  }
  
  .menu-wrap .menu > div > div > ul > li > a {
    font-family: 'Rock Salt', sans-serif;
    color: inherit;
    text-decoration: none;
    transition: color 0.4s ease;
  }

  .menu-wrap .menu > div > div > ul > li > a:hover {
    color: var(--yellow-light);
  }


/* BUTTON STYLES */

button{
  margin: 5px;
  padding:20px 40px;
  width:170px;
  background-color: transparent;
  color: white;
  border: 1px solid white;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: .85rem;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.4s ease;
  backdrop-filter: blur(5px);
}

button:hover{
  color: var(--yellow-light);
  border: 1px solid var(--yellow-light);
}

button a{
  color:white;
  text-decoration: none;
}

.button-primary:hover{
  background-color: var(--yellow-light);
  color: var(--darkblue);
  border: 1px solid var(--yellow-light);
}
